<div class="quoteInfo">
    <span>QuoteId : {{quote.quoteId}}</span>
    <span>Quote Name: {{quote.name}}</span>
</div>
<mat-tab-group>
    <mat-tab label="Customer" (click)="currentTab = 'customer'"> 
        <customer-detail></customer-detail>
    </mat-tab>
    <mat-tab label="Product" (click)="currentTab = 'product'"> 
        <product-detail></product-detail>
    </mat-tab>
    <mat-tab label="Customer Contact" (click)="currentTab = 'contact'"> 
        <order-summary></order-summary>
    </mat-tab>
</mat-tab-group>