<div class="cart-container">
    <h1>Order details</h1>
    <div class="cart-item">
        <div class="item-details">
            <h2>SIM Plan</h2>
            <p>{{quote.products[0]?.productName}}</p>
            <p>{{quote.products[0]?.data}} data | Month-to-month | Physical SIM</p>
        </div>
        <div class="item-price">${{quote.products[0]?.price}}/mth</div>
        <div class="item-qty" style="padding-left: 10px;">Quanity {{quote.products[0]?.quntity}}</div>
        <div class="item-actions">
            <button>Edit</button>
            <button>Remove</button>
        </div>
    </div>
    <div class="delivery-info">
        <p>Free delivery</p>
    </div>
    <div class="summary">
        <h2>Summary of charges</h2>
        <p>Total monthly: ${{getTotal(quote.products[0])}}</p>
        <p>Delivery: FREE</p>
    </div>
    <div class="actions">
        <!-- <button class="continue-shopping">Continue shopping</button> -->
        <button class="checkout">Checkout</button>
    </div>
</div>