<div class="container">
    <div class="container2">
        <div class="plan-container">
            <h1 class="plan-header">Small Choice Mini Plan</h1>
            <p class="data-allowance">60GB</p>
            <p class="price">$52 per month</p>
            <ul class="plan-inclusions">
                <li>5G network access</li>
                <li>lock-in contract</li>
                <li>No excess data charges</li>
                <li>Limited standard national talk & text</li>
                <li>LImited standard international calls to selected destinations</li>
            </ul>
            <title>Qty</title>
            <input type="number">
            <button>Add to cart</button>
        </div>
        <div class="plan-container">
            <h1 class="plan-header">Medium Choice Plus Plan</h1>
            <p class="data-allowance">180GB</p>
            <p class="price">$82 per month</p>
            <ul class="plan-inclusions">
                <li>5G network access</li>
                <li>No lock-in contract</li>
                <li>No excess data charges</li>
                <li>Unlimited standard national talk & text</li>
                <li>Unlimited standard international calls to selected destinations</li>
            </ul>
            <title>Qty</title>
            <input type="number">
            <button>Add to cart</button>
        </div>
        <div class="plan-container">
            <h1 class="plan-header">Large Choice Plus Plan</h1>
            <p class="data-allowance">240GB</p>
            <p class="price">$98 per month</p>
            <ul class="plan-inclusions">
                <li>5G network access</li>
                <li>No lock-in contract</li>
                <li>No excess data charges</li>
                <li>Unlimited standard national talk & text</li>
                <li>Unlimited standard international calls to selected destinations</li>
            </ul>
            <title>Qty</title>
            <input type="number">
            <button>Add to cart</button>
        </div>
        <div class="plan-container">
            <h1 class="plan-header">Premium Large Choice Plus Plan</h1>
            <p class="data-allowance">350GB</p>
            <p class="price">$120 per month</p>
            <ul class="plan-inclusions">
                <li>5G network access</li>
                <li>No lock-in contract</li>
                <li>No excess data charges</li>
                <li>OTT subscription to mainstream channels</li>
                <li>Unlimited standard national talk & text</li>
                <li>Unlimited standard international calls to selected destinations</li>
            </ul>
            <title>Qty</title>
            <input type="number">
            <button>Add to cart</button>
        </div>
    </div>
</div>