<!-- <button type="button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
</button> -->
<mat-icon (click)="drawer.toggle()" style="margin-left: 20px; cursor: pointer;">menu</mat-icon>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <ul style="list-style-type:none; padding-left: 0;">
            <li>
                <button class="cpq-nav-button">
                    <span (click)="navigateTo('inventory')"> Inventory </span>
                </button>

            </li>
            <li>
                <button class="cpq-nav-button">
                    <span (click)="navigateTo('quote')"> Create Quote </span>
                </button>

            </li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
        <!-- <app-quote-header></app-quote-header> -->
    </div>

</mat-drawer-container>