/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-balham.css';

.example-spacer {
    flex: 1 1 auto;
  }

  formly-field-grid-row-group{
    .ag-grid-row-grouping-column-header{
      .ag-body{
        height: 0px;
      }
    }
    h3{
      margin-bottom: 0;
    }
  }
  

  .heading_oredr{
    margin-left: 15px;
    color: #052929;
    font-weight: 700;
 
}
 
.ag-ltr .ag-cell{
    border-right: 1px solid black !important;
}
 
.ag-header-cell, .ag-header-group-cell{
    border-right: 1px solid black !important;
}
.ag-header-container{
    background-color: #008080;
 
}
.ag-checkbox-input-wrapper input, .ag-checkbox-input-wrapper input{
    -webkit-appearance: checkbox !important;
      opacity: 1;
}
.ag-checkbox-input-wrapper::after{
    content:"" !important;
}
.ag-row-selected::before{
background-color: #a3c9d1;
}
.ag-header-cell-menu-button:not(.ag-header-menu-always-show){
    opacity: 2;
}
 
 
body {
  font-family: Arial, sans-serif;
}
.plan-container {
  background: linear-gradient(white, #009688);
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  margin: auto;
  color: #333;
}
.plan-header {
  text-align: center;
  color: #333;
}
.data-allowance {
  font-size: 48px;
  text-align: center;
  color: #333;
}
.price {
  text-align: center;
  color: #333;
  font-weight: bold;
}
ul.plan-inclusions {
  list-style: none;
  padding-left: 0;
}
ul.plan-inclusions li {
  margin-bottom: .25em;
}
ul.plan-inclusions li::before {
  content: "\\2713";
  color: green;
  margin-right: .5em;
}