/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-balham.css';

.example-spacer {
    flex: 1 1 auto;
  }

  formly-field-grid-row-group{
    .ag-grid-row-grouping-column-header{
      .ag-body{
        height: 0px;
      }
    }
    h3{
      margin-bottom: 0;
    }
  }
  